In [2]:
import pandas as pd
cleaned_df = pd.read_csv(r"C:\Users\91998\OneDrive\Desktop\Internship_folder\Search_Engine\csv_files\preprocessed_content.csv")
cleaned_df.head()

                                     cleaned_content
0  watch video online open subtitlesfree browser ...
1  ah princessdawn terry blooney looney soldiersp...
2  yumi cell episode extremely polite yumi yumi g...
3  watch video online open subtitlesfree browser ...
4  watch video online open subtitlesfree browser ...

In [3]:
sampled_df = cleaned_df.sample(frac=0.3, random_state=42)  # 30% of the data

# Reset index
sampled_df.reset_index(drop=True, inplace=True)

# Display the sampled DataFrame
sampled_df.head()

                                     cleaned_content
0  watch video online open subtitlesfree browser ...
1  oh know getting late wan na go home hurry baby...
2  timing subtitle uncontrollable lovebird team v...
3  ethereal music api opensubtitles org deprecate...
4  chris oh minibots yelling oh leavethose little...

In [2]:
embeddings_df=pd.read_csv(r"C:\Users\91998\OneDrive\Desktop\Internship_folder\Search_Engine\embeddings.csv")

In [3]:
embeddings_df.head()

,-0.23528694,0.68194026,-0.20762983,-0.56756777,-0.09497115,0.1533612,0.25356835,-0.3048311,0.3378566,0.24762796,...,0.40654382,-0.18575114,0.28627804,-0.05794515,-0.10239918,0.35828227,0.060026817,-0.18990222,0.32729062,0.24560113
0,-0.254260,0.407602,0.306741,-0.282999,-0.491599,-0.069591,0.993745,-0.291691,-0.190371,-0.142749,...,0.471920,-0.233267,-0.229729,0.169564,-0.588158,0.378377,-0.386424,0.055715,-0.077641,0.135979
1,-0.401395,0.187569,0.427840,0.018657,-0.483465,-0.130123,0.268526,-0.090406,-0.153078,0.078968,...,0.159433,-0.270341,0.266337,0.673169,0.357920,0.453328,-0.068693,0.075851,-0.571419,0.147531
2,-0.519580,-0.098217,0.339848,-0.236897,-0.268159,-0.127692,0.125231,-0.033015,0.043812,-0.034662,...,0.316880,-0.199304,0.212499,0.581604,0.040233,0.661260,0.162934,0.016919,-0.327428,0.115916
3,-0.084290,0.079209,0.479737,-0.283084,-0.049997,-0.041080,0.651616,-0.077211,-0.138057,-0.036446,...,0.397732,-0.323947,0.257993,0.408697,-0.275310,0.456013,-0.264807,0.252055,-0.279540,0.385999
4,-0.041927,0.483662,0.258255,-0.066078,-0.339929,0.014761,0.864491,-0.226859,0.109403,0.262193,...,0.146519,0.418031,0.203830,0.113073,-0.249144,0.501759,-0.291552,-0.212893,-0.306804,0.110402

In [4]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82498 entries, 0 to 82497
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cleaned_content  82497 non-null  object
dtypes: object(1)
memory usage: 644.6+ KB

In [5]:
embeddings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82496 entries, 0 to 82495
Columns: 384 entries, -0.23528694 to 0.24560113
dtypes: float64(384)
memory usage: 241.7 MB

In [6]:
import pandas as pd

# Assuming cleaned_df and embeddings_df are already defined

# Merge DataFrames based on index
combined_df = pd.merge(cleaned_df, embeddings_df, left_index=True, right_index=True, how='inner')

# Check the shape of the combined DataFrame
print(combined_df.shape)

(82496, 385)

In [6]:
import sqlite3
vectors = pd.read_csv(r"C:\Users\91998\OneDrive\Desktop\Internship_folder\Search_Engine\embeddings.csv")
def chunk_embeddings(embeddings_row, chunk_size=128, overlap=32):
    embeddings = embeddings_row.values
    for start in range(0, len(embeddings), chunk_size - overlap):
        yield embeddings[start:start + chunk_size]
# Connect to SQLite database
conn = sqlite3.connect(r"C:\Users\91998\OneDrive\Desktop\Internship_folder\Search_Engine\vectors.db")
cursor = conn.cursor()

# Create table to store chunks
cursor.execute('''CREATE TABLE IF NOT EXISTS chunks (
                    id INTEGER PRIMARY KEY,
                    document_id INTEGER NOT NULL,
                    chunk_index INTEGER NOT NULL,
                    embedding_chunk TEXT NOT NULL
                )''')

# Function to insert chunks into the SQLite database in batches
def insert_chunks(document_id, chunks):
    cursor.executemany("INSERT INTO chunks (document_id, chunk_index, embedding_chunk) VALUES (?, ?, ?)",
                       [(document_id, i+1, ','.join(map(str, chunk))) for i, chunk in enumerate(chunks)])
    conn.commit()

for idx, row in vectors.iterrows():
    document_id = idx + 1  
    
    # Chunk the embeddings
    chunks = chunk_embeddings(row)
    
    # Insert chunks into SQLite
    insert_chunks(document_id, chunks)

# Close connection to SQLite database
conn.close()